/* .appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */