@import "tailwindcss";


:root {
  --primary: #006A71;
  --secondary: #48A6A7;
  --accent: #9ACBD0;
  --background: #F2EFE7;
  --text-dark: #1e1e1e;
  --text-light: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--text-dark);
}

body {
    background-color: #F2EFE7;
}

.primary {
    /* background-color: #006A71; */
    color: #006A71;
}

.secondary {
    background-color: #48A6A7;
}

.accent {
    background-color: "#9ACBD0";
}

.background {
    background-color: "#F2EFE7"
}
