@import "tailwindcss";

body {
    background-color: #eff6ff;
}

.primary {
    /* background-color: #006A71; */
    color: #2563eb;
}

.secondary {
    background-color: #3b82f6;
}

.accent {
    background-color: #bfdbfe;
}

.background {
    background-color: #eff6ff}